body {
  padding-top: 5rem;
  animation: fadeBackground 10s;
}

.btn-custom {
  background-color: rgb(138, 173, 208);
  opacity: 50%;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(33, 21, 32) 3%, rgb(138, 173, 208) 38%, rgb(123, 153, 151) 68%, rgb(108, 82, 82) 98%);
  animation: gradient 25s ease infinite;
  background-size: 500% 500%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 20s -12s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.1;
  bottom: 0;
  left: 0;
  z-index: -1;

}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}


ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 0.75rem;
  width: 100%;
}

ul.cloud a {
  --size: 6;
  --color: rgb(218, 98, 98);
  color: var(--color);
  font-size: calc(var(--size) * 0.5rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  margin-top: 100px;
  position: relative;
  text-decoration: none;
}

ul.cloud a[data-weight="1"] {
  --size: 1;
}

ul.cloud a[data-weight="2"] {
  --size: 2;
}

ul.cloud a[data-weight="3"] {
  --size: 3;
}

ul.cloud a[data-weight="4"] {
  --size: 4;
}

ul.cloud a[data-weight="5"] {
  --size: 5;
}

ul.cloud a[data-weight="6"] {
  --size: 6;
}

ul.cloud a[data-weight="7"] {
  --size: 7;
}

ul.cloud a[data-weight="8"] {
  --size: 8;
}

ul.cloud a[data-weight="9"] {
  --size: 9;
}

ul.cloud a[data-weight="10"] {
  --size: 10;
}

ul.cloud a[data-weight="11"] {
  --size: 11;
}

ul.cloud a[data-weight="12"] {
  --size: 12;
}

ul.cloud a[data-weight="13"] {
  --size: 13;
}

ul.cloud a[data-weight="14"] {
  --size: 14;
}

ul.cloud a[data-weight="15"] {
  --size: 15;
}

ul.cloud a[data-weight="16"] {
  --size: 16;
}

ul.cloud a[data-weight="17"] {
  --size: 18;
}

ul.cloud a[data-weight="18"] {
  --size: 20;
}

ul.cloud a[data-weight="19"] {
  --size: 22;
}

ul.cloud a[data-weight="20"] {
  --size: 26;
}

ul.cloud li:nth-child(2n+1) a {
  --color: rgb(57, 100, 57);
}

ul.cloud li:nth-child(3n+1) a {
  --color: rgb(44, 44, 108);
}

ul.cloud li:nth-child(4n+1) a {
  --color: rgb(142, 85, 116);
}

ul.cloud li:hover {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}

#scroll-container {
  /* border: 1px solid black; */
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(-100%);
  }

  to {
    -moz-transform: translateY(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}